.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.flex-container{
  display:flex;
  background-color: aqua;
}

 .pinback{
  background-color: #f1f1f1;
  margin:10px;
  padding: 20px;
  font-size: 30px;
}